h1{
    font-family: 'Rubik', sans-serif;
    margin: 2rem 0 0 4rem;
    color: rgb(83, 82, 82);
}

h2{
    justify-self:center;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.submit{
    position: relative;
    border-radius: 7px;
    border: none;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 0;
    font-size: 1rem;
    transition: .3s;
    background-color: rgb(73, 156, 244);
    border: 2px solid rgb(73, 156, 244);
    color: white;
    justify-self: center;
    align-self: center;
    
    
}



.submit:hover{
    color: rgb(73, 156, 244);
    background-color:white;
    border: 2px solid rgb(73, 156, 244);
    transition: .3s;
}

.alert_fail{
    position: relative;
    left: 50%;
    transform:translateX(-50%) ;
    border: 2px solid rgba(204, 65, 65, 0.879);
    border-radius:7px;
    background-color: rgba(181, 80, 80, 0.816);
    color: rgba(0, 0, 0, 0.649);
    font-family: 'Noto Sans', sans-serif;
    padding: .2rem;  
    text-align: center; 
    justify-self: center;
    width: 40%;
}

.anl_btn{
   
    background-color: red;
    border: 2px solid red;
    padding: .7rem;
    margin: 0 1rem;
}



.anl_btn:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: .4s;
}

